@import "@/app/styles/breakpoint";

.header {
  z-index: var(--zIndex-header);
  position: sticky;
  top: 0px;

  @include mq(md) {
    top: 30px;
    width: calc(100% - 32px);
    margin-inline: auto;
  }
}

.inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: var(--headerHeight);
  margin-inline: auto;
  padding: 0 24px;
  background: var(--bg-primary);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.06);

  @include mq(md) {
    border-radius: var(--borderRadius-md);
    transition: border-radius 0.5s ease;
  }
}

@include mq(md) {
  @media (hover: hover) {
    .inner:hover {
      border-radius: unset;
      transition: border-radius var(--transition-slowly);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: opacity 0.2s ease-out;
}

@media (hover: hover) {
  .logo:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
  }
}

.logoText {
  font-size: 14px;
  font-weight: 600;

  @include mq(md) {
    font-size: 12px;
  }
}
