@import '@/app/styles/breakpoint';

.sheet {
  width: calc(100% - 48px);
  padding-top: 72px;
  padding-bottom: 50px;
  margin-inline: auto;

  @include mq(sm) {
    width: calc(100% - 96px);
  }

  @include mq(md) {
    max-width: var(--maxWidth);
    padding-top: 120px;
    padding-bottom: 64px;
  }
}
