@import '@/app/styles/breakpoint';

.navigationMenuRoot {
  display: none;

  @include mq(md) {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
}

.navigationMenuList {
  position: relative;
  display: flex;
  gap: 16px;
}

.navigationMenuItem {
  position: relative;
}

.navigationMenuItem a {
  padding: 8px 10px;
  border-radius: var(--borderRadius-xs);
}

@media (hover: hover) {
  .navigationMenuItem a:hover {
    background: #3333330b;
  }
}

.navigationMenuContentItem a {
  display: inline-block;
  padding: 4px 6px;
}

.navigationMenuContentItem.isActive {
  background: #3333331a;
  border-radius: var(--borderRadius-xs);
}

.navigationMenuItem.isActive a {
  background: #3333331a;
}

.navigationMenuTrigger {
  display: flex;
  gap: 4px;
  align-items: center;
}

.navigationMenuLink {
  text-decoration: none;
}

.navigationMenuLink[data-active] {
  text-decoration: 'underline';
}

.navigationMenuContent {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  padding: 18px 16px;
  background-color: var(--bg-primary);
  border-radius: var(--borderRadius-md);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  transform: scaleY(0);
}

[data-state='open'] > .navigationMenuContent {
  transition: transform 0.3s ease;
  transform: scaleY(1);
}

.navigationMenuContentList {
  display: flex;
  gap: 18px;
}

@media (hover: hover) {
  .navigationMenuContentItem a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px;
  }
}

.chevron {
  position: relative;
  top: 1px;
  transition: transform 0.3s ease;
}

[data-state='open'] > .chevron {
  transform: rotate(-180deg);
}
