@import "@/app/styles/breakpoint";

.pageTitle {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.pageTitleEn {
  font-size: 16px;
}

.sideNavigation {
  display: none;

  @include mq(md) {
    display: block;
    grid-area: 1/1 / auto/span 3;
  }
}

.sideNavigationList {
  position: sticky;
  top: calc(var(--headerHeight) + 10px);
}

.sideMenuLink.isActive {
  color: royalblue;
}

.mainContent {
  grid-area: auto/1 / auto/span 12;

  @include mq(md) {
    grid-area: 1/4 / auto/span 12;
  }
}

.mainContent section + section {
  margin: 5rem 0;
}

.section {
  scroll-padding-top: var(--headerHeight);
}
