@import '@/app/styles/breakpoint';

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  text-align: center;

  @include mq(md) {
    padding-bottom: 80px;
  }
}

.headingTitle {
  display: flex;
  flex-direction: column;
}

.headingText {
  width: min(100%, 860px);
  text-align: center;
}

.pageTitleEn {
  font-size: 16px;
}

.sideContent {
  display: none;

  @include mq(md) {
    display: block;
    grid-area: 1/1 / auto/span 3;
  }
}

.sideNavigationWrapper {
  position: sticky;
  top: calc(var(--headerHeight) + 24px);
}

.mainContent {
  grid-area: auto/1 / auto/span 12;

  @include mq(md) {
    grid-area: 1/4 / auto/span 12;
  }
}

.section {
  padding-bottom: 56px;
  scroll-padding-top: var(--headerHeight);

  @include mq(md) {
    padding-bottom: 160px;
  }
}

.sectionTitle {
  padding-bottom: 24px;
}

.sectionBody {
  width: min(100%, 740px);
  font-weight: 500;
}
