@import "@/app/styles/breakpoint";

// ボタンコンポーネント共通のスタイル
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  min-width: 200px;
  height: 56px;
  padding: 0 24px;
  border: 1px solid var(--color-button-primary);
  border-radius: var(--borderRadius-lg);
  font-weight: 500;
}

// プライマリーボタンのスタイル
.primaryButton {
  background: transparent;
  background-image: linear-gradient(
    90deg,
    var(--color-button-primary) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 250%;
  transition: background-position var(--transition-slowly);
}

@media (hover: hover) {
  .primaryButton:hover {
    color: var(--color-text-white);
    background-position: 0;
    transition: background-position var(--transition-slowly);
  }

  .primaryButton:hover .icon {
    transition: stroke var(--transition-slowly);
    stroke: var(--color-text-white);
  }
}

// セカンダリーボタンのスタイル
.secondaryButton {
  color: var(--color-button-secondary);
  border: 1px solid var(--color-button-secondary);
  background: transparent;
  background-image: linear-gradient(
    90deg,
    var(--color-button-secondary) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 250%;
  transition: background-position var(--transition-slowly);
}

@media (hover: hover) {
  .secondaryButton:hover {
    color: var(--color-text-white);
    background-position: 0;
    transition: background-position var(--transition-slowly);
  }

  .secondaryButton:hover .icon {
    transition: stroke var(--transition-slowly);
    stroke: var(--color-text-white);
  }
}

// 矢印アイコンのスタイル
.icon {
  transform: translate3d(0, 0, 0);
  transition: transform var(--transition-slowly);
}

@media (hover: hover) {
  .button:hover .icon {
    transform: translate3d(3px, 0, 0);
    transition: transform var(--transition-primary);
  }
}
