:root {
  --color-text-primary: #020202;
  --color-text-white: #fdfdfd;
  --color-text-muted: #4f4f4f;
  --color-button-primary: #020202;
  --color-button-secondary: #3c4e91;
  --color-focus-outline: #0056ff;

  --bg-primary: #ffffff;

  --borderColor-gray: #d1d1d1;

  --borderRadius-xs: 4px;
  --borderRadius-sm: 8px;
  --borderRadius-md: 12px;
  --borderRadius-lg: 28px;

  --transition-primary: 0.2s ease-out;
  --transition-slowly: 0.4s ease-out;

  --headerHeight: 86px;
  --maxWidth: 1100px;

  --zIndex-header: 100;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: var(--color-text-primary);
  background-color: var(--bg-primary);
  scroll-padding-top: var(--headerHeight);
}

body {
  font-weight: 600;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

ul,
dl {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline-width: 2px;
  outline-offset: 0px;
  outline-color: var(--color-focus-outline);
}

a:focus-visible {
  outline-width: 2px;
  outline-offset: 0px;
  outline-color: var(--color-focus-outline);
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

p {
  text-align: justify;
}

button {
  background-color: transparent;
  border: none;
}
