@import "@/app/styles/breakpoint";

.newsListItem {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  border-bottom: 1px solid var(--borderColor-gray);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.meta {
  font-size: 13px;
  color: var(--color-text-muted);
}

.title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
