@import '@/app/styles/breakpoint';

.newsListItem {
  border-bottom: 1px solid var(--borderColor-gray);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 16px 8px;

  @include mq(md) {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}

.meta {
  font-size: 13px;
  color: var(--color-text-muted);
}

.title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover: hover) {
  .newsListItem:hover .title {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
